*{
    font-family: FreeMono, monospace;
    font-size: 20px;
    

}


.home_div{
    margin: 20px;
    padding: 5px 0;
    
}

body{
    background: linear-gradient(#ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
    margin: 0;
}

.home{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color:#e1d8e1;
    }

img{
    width: 800px;
    height: auto;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 5px;
}

.home_p{
    text-align: center;
    margin: 30px;
    margin-bottom: 30px;
    color: hsl(120, 87%, 9%);
    font-weight: bold;
    background: linear-gradient(#ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
    opacity: 50%;
    border-radius: 5%;
}
#menu{
    
    list-style-type: none;  
}
 
.menu-list>a{
    font-size: 50px;
    color:#2e3b3a;
}
a {
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    background-color: #52ff52;
    border-radius: 10px;
    padding:5px;
}

a:visited { text-decoration:none; color:#2e3b3a; }

h1{
    font-size: 50px;
    text-align: center;
}

ol{
    margin-bottom: 60px;
}
h3{
    font-size: 30px;
    text-align: center;
}

.kimchi_page{
    background: linear-gradient(#e52d27,#b31217);
}

.kimchi{
    background: linear-gradient(#FFFFFF, #FFEFBA );
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    opacity: 80%;
}
.lemon_page{
    background: linear-gradient(#FFE000,#799F0C);
}

.sauer_body{
    background: linear-gradient(#FFEFBA,#FFFFFF );
}